
@{
ViewBag.Title = ViewBag.EntityName + " - add item";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>
            <strong>Oh snap! </strong>
            @ViewBag.Error
        </p>
    </div>
}

<h2>@ViewBag.EntityName - add item</h2>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        @Html.ActionLink("Entities", "Index", "Entity", null, new { data_pjax = "" })
    </li>
    <li class="breadcrumb-item">
        @Html.ActionLink((string)ViewBag.EntityName, "Details", "Entity", new { id = ViewBag.EntityId }, new { data_pjax = "" })
    </li>
    <li class="breadcrumb-item active">Add item</li>
</ol>

@using (Html.BeginForm("Create", "EntityData", new { entityId = ViewBag.EntityId }, FormMethod.Post, new { data_pjax = "" }))
{
    @Html.AntiForgeryToken()

    <fieldset class="form-horizontal">
        <div class="form-group row">
            <div class="col-md-8">
                <label for="xml-input">Just paste your XML code here</label>
                <textarea class="form-control" id="xml-input" name="xml-input" rows="8">@if (ViewBag.Input != null)
                { @ViewBag.Input }</textarea>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-offset-2 col-md-8">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </fieldset>
}
